body{
	margin:0;
}
#application{
	width:95%;
	margin:auto;
	margin-bottom: 50px;
}
.titles{
	font-family: 'Merriweather', serif;
}
body {
	background-color: #eee;
}

.text-message-content {
	background-color: lavender;
}

.video {
	background-color: #B2A9BA;
	border: 2px solid black;
}

.interviewee {
	background-color: #D1E3D1;
	background-color: lavender;
}

.interviewee-disabled {
	background-color: lightgray;
	filter: grayscale(100%);
}

.interviewee-disabled > * {
	cursor: default;
}


.question-list {
	background-color: #ddd;
}

.question-disabled {
	color: #777;
}

.question-disabled > a {
	cursor: default;
}

.success
{
	background-color: rgb(120, 200, 230);
}